In [1]:
import pandas as pd

In [31]:
target = pd.read_csv('data/AMSTarget.csv')
target_placement = pd.read_csv('data/AMSTargetPlacementDetail.csv')
placement = pd.read_csv('data/AMSPlacement.csv')

In [92]:
placement.campaign1.unique()

array([    1,    13,    14,    21,    28,    93,   100,   107,   114,
        1223,  1226,  1229,  1230,  1231,  1232,  1233,  1234,  1235,
        1236,  1237,  1238,  1239,  1240,  1241,  1242,  1243,  1244,
        1245,  1246,  1247,  1248,  1249,  1250,  1251,  1252, 10669,
       10670, 10803, 11069, 11098, 11214, 52171, 52191, 52292, 52409,
       55305, 55306])

In [39]:
topic = target_placement[['id', 'target']].join(target.set_index('id'), on='target')

In [41]:
topic['placement'] = target_placement[['placement']]

In [53]:
placement = placement.rename(columns= {"campaign": "campaign1", "placement": "placement_type"})
placement.placement_type.unique()

array(['Other Placements', 'Top of Search',
       'First page Top of Search on Amazon', 'Product pages on Amazon',
       'Rest of search on Amazon', 'Remarketing off-Amazon'], dtype=object)

In [55]:
topic = topic.join(placement.set_index('id'), on = 'placement')

In [64]:
topic[['date', 
      'impressions',
      'clicks',
      'CtR',
      'CpC',
      'spend',
      'ACoS']] = (
    target_placement[[
        'date', 
      'impressions',
      'clicks',
      'CtR',
      'CpC',
      'spend',
      'ACoS']])

In [70]:
topic[['RoAS', 
      'sales',
      'orders',
      'units',
      'conversion_rate',
      'page_views']] = (
    target_placement[[
        'RoAS', 
      'sales',
      'orders',
      'units',
      'conversion_rate',
      'page_views']])

In [96]:
topic_campaigns = topic.campaign.unique()

array([10803,    93,   114,    28,   100, 11098,   107, 10670, 11214,
       10669, 11069,    14,    21,     1,    13])

In [97]:
topic[topic.campaign ==1]

,id,target,campaign,term,match_type,placement,campaign1,placement_type,date,impressions,...,CtR,CpC,spend,ACoS,RoAS,sales,orders,units,conversion_rate,page_views
10438,14602,32458,1,clean cleaners,Top of Search,6147,1,Other Placements,11/24/19,1,...,0.000000,NaN,0.00,NaN,NaN,0.0,0,0,NaN,0
10439,14603,32458,1,clean cleaners,Top of Search,6147,1,Other Placements,11/25/19,2,...,0.000000,NaN,0.00,NaN,NaN,0.0,0,0,NaN,0
10440,14604,32458,1,clean cleaners,Top of Search,6147,1,Other Placements,11/26/19,2,...,0.000000,NaN,0.00,NaN,NaN,0.0,0,0,NaN,0
10441,14605,32458,1,clean cleaners,Top of Search,6147,1,Other Placements,11/28/19,3,...,0.000000,NaN,0.00,NaN,NaN,0.0,0,0,NaN,0
10442,14606,32458,1,clean cleaners,Top of Search,6147,1,Other Placements,11/30/19,6,...,0.000000,NaN,0.00,NaN,NaN,0.0,0,0,NaN,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16914,23220,32740,1,cleanwelltoday.com,Top of Search,6147,1,Other Placements,2/7/20,12,...,0.083333,0.47,0.47,NaN,0.0,0.0,0,0,0.0,1
16915,23221,32740,1,cleanwelltoday.com,Top of Search,6147,1,Other Placements,2/8/20,2,...,0.000000,NaN,0.00,NaN,NaN,0.0,0,0,NaN,1
17175,23609,41465,1,natural hand sanitizer recipe,Top of Search,6147,1,Other Placements,2/5/20,1,...,0.000000,NaN,0.00,NaN,NaN,0.0,0,0,NaN,0
17176,23610,41465,1,natural hand sanitizer recipe,Top of Search,6147,1,Other Placements,2/8/20,2,...,0.000000,NaN,0.00,NaN,NaN,0.0,0,0,NaN,0
17258,23721,41577,1,where to buy clean well products,Top of Search,6147,1,Other Placements,2/7/20,1,...,0.000000,NaN,0.00,NaN,NaN,0.0,0,0,NaN,0

In [99]:
topic.placement_type.unique()

array(['Other Placements'], dtype=object)